<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp microservice</title>
  </head>
  <body>
    <h3 id="apiusage">API Usage</h3>

<p>Example usage:</p>

<pre><code>https://ivan-timestamp-ms.glitch.me/December%2015,%202015
https://ivan-timestamp-ms.glitch.me/1450137600
</code></pre>

<p>Example output:</p>

<pre><code>{ "unix": 1450137600, "natural": "December 15, 2015" }
</code></pre>

<p>Try:</p>

<ul>
<li><a href="https://ivan-timestamp-ms.glitch.me/December%2018,%202018">December 18, 2018</a></li>

<li><a href="https://ivan-timestamp-ms.glitch.me/1450137600">1450137600</a></li>
</ul>
  </body>
</html>


